.support {
  display: flex;
  justify-content: center;
  padding: 43px;
  gap: 22px;
}

.sup2 {
  background: #35b8be;
  color: white;
  display: flex;
  align-items: flex-start;
  width: 1200px;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.sup2 > h1 {
  font-size: 53px;
  font-weight: 400;
  line-height: 60.5px;
  letter-spacing: 1.649999976158142px;
  margin-left: 60px;
}


.sup2 h1 span {
    color: #1B9097;
}

.sup2 button {
    padding: 19px 35px;
    color: #35B8BE;
    border: none;
    border-radius: 5px;
    margin-left: 60px;
}