.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #35b8be;
  color: white;
  padding: 14px 220px;
}

.header > h1 {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFFCC;
  line-height: 20px;
  text-align: left;
}

.header > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
